.flex-container {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
    padding: 0 2.5%;
}

/* // Colors */
.hlightY{
    background-color: yellow;
}
.line-through {
    text-decoration: line-through;
}
.lg {
    color: lightseagreen;
}
.cmd-line {
    background-color: black;
    color: lime;
    display: inline-block;
    font-size: 1.2rem;
}
pre {
    font-size: 1.1rem;
}